{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>

            <!-- Email -->
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>

            <!-- Password -->
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}

                <div style="position: relative;">
                    {{ form.password(class="form-control", id="loginPassword") }}
                    <button type="button"
                            onclick="toggleLoginPassword()"
                            style="position:absolute; right:10px; top:5px; border:none; background:none;">
                        👁
                    </button>
                </div>
            </div>

        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">
           
        </small>
    </div>

    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account?
            <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
</div>

<script>
function toggleLoginPassword() {
    const pwd = document.getElementById("loginPassword");
    pwd.type = pwd.type === "password" ? "text" : "password";
}
</script>

{% endblock content %}